@charset "utf-8";
/* CSS Document */
body  {
	font:"Times New Roman", Times, serif;
	font-size:13px;
	background:url(../imgs_inter/fondo_1.jpg) repeat-x;
	background-color:#FFF;
	
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color:#2D2D2D;
}

h1 {
	font-size: 14px;
}
h2 {
	font-size: 18px;
	color:#516779;
}

.thrColFixHdr #container {
	width: 980px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */

} 
.thrColFixHdr #header { 
	padding: 0px 0px 0px 8px;
} 
.thrColFixHdr #header h1 {
	margin: 0px; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	
}
.thrColFixHdr #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 184px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	margin: -10px 0px 0px 0px;
	padding: 0px 0px 0px 0px; /* padding keeps the content of the div away from the edges */
	text-align: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333;
	background-repeat:repeat-x;
}
.thrColFixHdr #sidebar2 {
	float: right; /* since this element is floated, a width must be given */
	width: 160px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	margin: -30px 15px 0px 0px;
	padding: 15px 10px 15px 20px; /* padding keeps the content of the div away from the edges */
}
.thrColFixHdr #mainContent {
	width:560px;
	margin: -12px 30px 0px 190px; /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the sidebar spaces when the content in each sidebar ends. */
	padding: 0 10px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	font-size:14px;
	color:#444;
	letter-spacing: 1px;
	line-height:20px;
	text-align: justify;
	font-family:Verdana, Geneva, sans-serif;
} 
.thrColFixHdr #footer {
	padding: 0 0px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	font-size:13px;
	letter-spacing: 1px;
	line-height:20px;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
} 
.thrColFixHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	text-align: center;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

a {
	font-size: 15px;
	color: #069;
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #069;
}
a:hover {
	text-decoration: underline;
	color: #09C;
}
a:active {
	text-decoration: none;
	color: #069;
}
body,td,th {
	font-size: 13px;
}

	
/*      V1        */

ul#menu
{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	display:block;
	height:30px;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
ul#menu li a:hover
{	
	color:#FFFFFF;
	height:22px;
	background:transparent url(../images/nav_bg.png) ;		
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	background:transparent url(../images/nav_bg.png);	
    float:left;
	margin:0;
}




	
/*      V1        */
*{
	list-style:none;
}

#menu4 {
	width: 180px;
	}
	
#menu4 li a {
  	height: 24px;
	}
	
#menu4 li a:link, #menu4 li a:visited {
	color:#666;
	display: block;
	background: url(../images/nav_bg2.png);
	padding: 8px 0 0 23px;
	}
	
#menu4 li a:hover {
	color:#069;
	background: url(../images/nav_bg3.png);
	padding: 8px 0 0 23px;
	}
	
#menu4 li a:active {
	color: #fff;
    background: url(../images/nav_bg3.png);
	padding: 8px 0 0 23px;
	}	
